body {
    font-family : sans-serif, verdana, helvetica, arial;
    background-color : white;
    color : black;
}
a:link {
    text-decoration : none;
    color : blue;
}
a:visited {
    text-decoration : none;
}
a:hover {
    text-decoration : underline;
    color : blue;
}
a:active {
    text-decoration : underline;
    color : red;
}